.input{
    padding: 0.5rem 1rem;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.button{
    height: 35px;
    padding: 0 1rem;
    cursor: pointer;
    position: relative;
    left: -2px;
}

.form{
    text-align: center;
    padding-top: 1rem;
}

.title{
    text-align: center;
}
